# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables file
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# macOS folder attributes
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Compiled binary addons (e.g. node-sass)
build/ 

